!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "Rugged Tree Woodworking"

    %link{rel:"stylesheet", href:"/assets/vendor/stylesheets/jquery-ui.min.css", type:"text/css", media:"screen"}
    = stylesheet_link_tag "application"

    %script{src:"/assets/vendor/javascripts/jquery-3.1.1.min.js"}
    %script{src:"/assets/vendor/javascripts/jquery-ui.min.js"}
    //%script{src:"/assets/vendor/javascripts/jquery-ui.structure.min.js"}
    //%script{src:"/assets/vendor/javascripts/jquery-ui.theme.min.js"}
    %script{src:"/assets/javascripts/application.js"}

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/manifest.json", :rel => "manifest"}
    %link{:color => "#14aa87", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "#14aa87", :name => "theme-color"}

  %body{class: page_classes}
    / Navigation
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %img{src: '/assets/images/logos/rtw-left-white.png'}
        / Collect the nav links, forms, and other content for toggling
        #navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - link_structure.each do |l|
              = nav_link *l

    = yield

    .container
      / Footer
      %footer
        .row
          .col-lg-12
            %p Copyright © Rugged Tree Woodworking
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90645849-1', 'auto');
      ga('send', 'pageview');
