.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        CH Charcuterie Boards
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/portfolio"} Portfolio
        %li.active CH Charcuterie Boards
  / /.row
  / Portfolio Item Row
  .row
    .col-md-8
      #carousel-example-generic.full-view-avail.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"}
        / Wrapper for slides
        .carousel-inner
          .item.active
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/all.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/large-straight.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/large.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/small-straight.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/small.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/large-food-straight.png"}
          .item
            %img.img-responsive{alt: "", src: "/assets/images/projects/ch-charcuterie-boards/medium-food.png"}

        / Controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
          %span.glyphicon.glyphicon-chevron-right
    .col-md-4
      %h3 Project Description
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
      %h3 Project Details
      %ul
        %li Lorem Ipsum
        %li Dolor Sit Amet
        %li Consectetur
        %li Adipiscing Elit

  -#
    / Related Projects Row
    .row
      .col-lg-12
        %h3.page-header Related Projects
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/

  %hr/