-# 6 per page, helper method for navigation?
.container
  .row
    .col-lg-12
      %h1.page-header
        Project Portfolio
      %ol.breadcrumb
        %li
          %a{:href => "index.html"} Home
        %li.active Portfolio
  .row
    .col-md-6.img-portfolio
      = portfolio_img_link('/portfolio/ch-charcuterie-boards','/assets/images/projects/ch-charcuterie-boards/portfolio-thumb.png')
      %h3
        %a{:href => "/portfolio/ch-charcuterie-boards"} CH Charcuterie Boards
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .col-md-6.img-portfolio
      = portfolio_img_link('/portfolio/snowflake-ornament-set','/assets/images/projects/snowflake-ornament-set/portfolio-thumb.png')
      %h3
        %a{:href => "/portfolio/snowflake-ornament-set"} Snowflake Ornament Set
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
  .row
    .col-md-6.img-portfolio
      = portfolio_img_link('/portfolio/customized-frames','/assets/images/projects/customized-frames/portfolio-thumb.png')
      %h3
        %a{:href => "/portfolio/customized-frames"} Customized Frames
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    .col-md-6.img-portfolio
      = portfolio_img_link('/portfolio/personalized-box','/assets/images/projects/personalized-box/portfolio-thumb.png')
      %h3
        %a{:href => "/portfolio/personalized-box"} Personalized Box
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
  %hr/
  -#
    / Pagination
    .row.text-center
      .col-lg-12
        %ul.pagination
          %li
            %a{:href => "#"} «
          %li.active
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5
          %li
            %a{:href => "#"} »
    / /.row
    %hr/
