.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        About
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li.active About
  / /.row
  / Intro Content
  .row
    .col-md-6
      %img.img-responsive{:alt => "", :src => "/assets/images/about/small-retina.jpg"}
    .col-md-6
      %h2 About Rugged Tree Woodworking
      %p We founded this business because we wanted to enable people to have another way to grow closer to each other. We both have been doing woodworking for years, creating pieces for family members and ourselves; learning new techniques and developing existing skills along the way. In the past couple years we have begun acquiring the tools and resources that would enable us to share our creations with others. Our driving force was our desire to help others connect with one another.
  / /.row
  / Team Members
  .row
    .col-lg-12
      %h2.page-header The Duo
    .col-md-6.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "/assets/images/about/isaiah.jpg"}
        .caption
          %h3 Isaiah
          %p I still remember the first thing I hammered together; I found some scrap wood and some old nails and made something that vaguely resembled an airplane. It wasn't a great work, but it was a start. Over the years I helped my dad (whether or not I wanted to) with various projects. Eventually it got to the point where I was making things to put in my own home.
          %p For my main source of income I'm a Senior Web Developer for <a href="http://singlebrook.com">Singlebrook</a>. My affinity for computers and programming lended itself well to working with the CNC machine I purchased in early 2016. I also enjoy sketching and drawing and have been able to use the CNC to bring some of my door hanger designs to life.
    .col-md-6.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "/assets/images/about/thad.jpg"}
        .caption
          %h3 Thad
          %p Growing up in Michigan, some of my earliest memories, other than playing outside, were of helping my Dad with projects (often whether I wanted to or not, pretty sure that’s a family tradition at this point). Those projects were often related to cars or woodworking, and since I am not mechanically inclined, I gravitated to woodworking. As I grew older, that expressed itself in building simple things for my family, which has evolved over time into designing and building furniture that I hope my grandchildren's grandchildren will enjoy.
          %p Within woodworking, I love how it intersects with economic history, both past (Mission Style furniture comes to mind) and present (google wood slab table, hit images, there are people doing really cool stuff out there). It's amazing and engaging to see the variety of things being created (or recreated) through the artistic medium of wood.

  / Our Customers
  -#
    .row
      .col-lg-12
        %h2.page-header Our Customers
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
  / /.row
  %hr/

