.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        About
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li.active About
  / /.row
  / Intro Content
  .row
    .col-md-6
      %img.img-responsive{:alt => "", :src => "/assets/images/about/small-retina.png"}
    .col-md-6
      %h2 About Rugged Tree Woodworking
      %p We founded this business because we love the peices that have been passed down to us, and wanted to enable others to pass down quality woodwork for generations to come. Each piece has a story; when it entered the family, the people that used it, the names carved in the back. Those stories keep us connected to our heritage, and give us something to remember the ones that are no longer with us.
  / /.row
  / Team Members
  .row
    .col-lg-12
      %h2.page-header The Duo
    .col-md-6.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
        .caption
          %h3 Isaiah
          %p I still remember the first thing I hammered together; I found some scrap wood and some old nails and made something that vaugly resembled an airplane. It wasn't a great work, but it was a start. Over the years I helped my dad (whether or not I wanted to) with various projects. Eventually it got to the point where I was making things to put in my own home.
          %p For my main source of income I'm a Senior Web Developer for <a href="http://singlebrook.com">Singlebrook</a>. My affinity for computers and programming lended itself well to working with the CNC machine I purchased in early 2016. I also enjoy sketching and drawing and have been able to use the CNC to bring some of my door hanger designs to life.
    .col-md-6.text-center
      .thumbnail
        %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
        .caption
          %h3 Thad
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.

  / Our Customers
  -#
    .row
      .col-lg-12
        %h2.page-header Our Customers
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
      .col-md-2.col-sm-4.col-xs-6
        %img.img-responsive.customer-img{:alt => "", :src => "http://placehold.it/500x300"}
  / /.row
  %hr/

