%header
  .container
    .row
      .col-sm-6.img
        %img{src: "/assets/images/together/ornament-on-tree.jpg"}
      .col-sm-6.mission
        %h2 Bringing people closer through personal and unique creations
/ Page Content
.container
  / Marketing Icons Section
  .row
    .col-lg-12
      %h1.page-header
        Welcome to Rugged Tree Woodworking
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-heart
            Legacy: Through the generations
        .panel-body
          %p We believe when we pass our posessions to the next generation they should carry family history and stories with them. Once heirlooms enter the family, generations get to enjoy and appreciate them. With that belief, we strive for durability and craft with care.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-gift
            Sentimental: The value that matters
        .panel-body
          %p Personalized gifts show extra effort was put in to get <b>them</b> the perfect present. Not just something you grabbed at the store the day before. They'll cherish it for years to come. And let's face it, it's hard to sell something with a name on it at a garage sale!
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-picture-o
            Variety: Tell us what you want
        .panel-body
          %p Let us know what you need and we will work with you to ensure a design that is durable, functional, and fits the style you're after. Almost anything is possible, from ornaments and frames to cutting boards and dressers. We can help dreams become reality.
  / /.row
  / Portfolio Section
  .row
    .col-lg-12
      %h2.page-header Recent Projects
    - data.projects.first(6).each do |p|
      .col-md-4.col-sm-6
        = portfolio_img_link("/portfolio/#{p[:name]}","/assets/images/projects/#{p[:name]}/portfolio-thumb.jpg")
  / /.row
  / Features Section
  .row
    .col-lg-12
      %h2.page-header The Men Behind the Business
    .col-md-6
      %p
        We are a father son duo that co-founded Rugged Tree Woodworking in October of
        2016. We've both been woodworking for years as a hobby and have been building
        up the shop more aggressively over the last 2 years.
      %p= link_to 'Read more', '/about', class: 'btn btn-default'
    .col-md-6
      %img.img-responsive{:alt => "", :src => "/assets/images/about/small-retina.jpg"}
      %p.caption Isaiah [left] and Thad [right]
  / /.row
  %hr/
